<div class="container">
  <div class="nav-board-left">
    <ul class="nav-element">
      <li><button> Home</button></li>
      <li><button></i> Messages</button></li>
      <li><button></i> Profile</button></li>
      <li><button></i> Notification</button></li>
    </ul>
  </div>
  <div class="timeline">
    <%= form_with model: @post, url: posts_path, local: true, html: { class: "form", style: "border: none;" } do |form| %>
      <%= form.text_area :content, name: "post[content]", placeholder: "Wetin dey your mind?...", style: "width: 500px; height: 100px; resize: none;", rows: 8 %><br>
      <%= form.submit "Create post", class: "submit" %>
    <% end %>




    <div class="post-content">
      <% @posts.each do |post| %>
      <%= image_tag("https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png", class: 'avatar') %>
      <%= post.user.nickname %>
      <p> <%= post.content %> </p>
      <hr>
      <% end %>
    </div>
  </div>

  <div class="nav-board-right">

  </div>

</div>
